<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ML module</title>
</head>
<body>
  <form>
    <label for="age">Age:</label>
    <input type="number" id="age" name="age" required><br><br>
    
  <label for="call-duration">Call Duration (in sec):</label><br>
  <input type="range" id="call-duration" name="call-duration" min="1" max="1000" value="50"><br><br>
  
  <label for="balance">Balance:</label>
  <input type="number" id="balance" name="balance" required><br><br>
  
    
  <label for="housing">Housing Loan :</label><br>
  <input type="radio" id="housing-yes" name="housing" value="yes">
  <label for="housing-yes">Yes</label><br>
  <input type="radio" id="housing-no" name="housing" value="no">
  <label for="housing-no">No</label><br><br>

  <label for="default"> Default :</label><br>
  <input type="radio" id="default-yes" name="default" value="yes">
  <label for="default-yes">Yes</label><br>
  <input type="radio" id="default-no" name="default" value="no">
  <label for="default-no">No</label><br><br>

  <label for="marital-status">Marital Status:</label><br>
  <input type="radio" id="single" name="marital-status" value="single">
  <label for="single">Single</label><br>
  <input type="radio" id="married" name="marital-status" value="married">
  <label for="married">Married</label><br>
  <input type="radio" id="divorced" name="marital-status" value="divorced">
  <label for="divorced">Divorced</label><br>
  <br>
  <label for="poutcome">Poutcome :</label>
  <input type="text" id="poutcome" name="poutcome" required><br><br>

  
  <label for="campaign"> campaign :</label><br>
  <input type="radio" id="campaign-yes" name="campaign" value="yes">
  <label for="campaign-yes">Yes</label><br>
  <input type="radio" id="campaign-no" name="campaign" value="no">
  <label for="campaign-no">No</label><br><br>


  <input type="submit" value="Submit">  
  </form>

  

  
</body>
</html>